# Database Configuration
# Format: mysql://USERNAME:PASSWORD@HOST:PORT/DATABASE_NAME
# Contoh: mysql://skh_user:password123@localhost:3306/skh_database
DATABASE_URL="mysql://USERNAME:PASSWORD@HOST:PORT/DATABASE_NAME"

# Environment Mode
NODE_ENV="production"

# Server Port (akan di-set otomatis oleh cPanel)
# PORT=3000
